{% extends "base.html" %}

{% block content %}
<style>
    article{
    margin-top: 30px;
    font-size: 20px;
    }

    section{
        background: rgba(245, 245, 245, 0.548);
        margin-bottom: 10px;
    }
    input {
        width: 50%;
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
</style>
<article>
    Europe ski resorts<br><br>
    For a snow experience unlike any other in the world, every Powderhound must ski Europe. The huge terrain in the Alps or Dolomites, incredible lift systems & awesome snow combine wonderfully with the mountain villages, history, traditions, cultural diversity plus the fabulous food & drink. Spending the night in an Italian mountain rifugio or an Austrian guesthouse dating from the 1500s add layers to European ski holidays that make it unforgettable. Once you ski Europe, you will definitely come back for more.<br>
    The great advantage of skiing in Europe is the diversity and ease of access to a huge number of superb ski resorts in a relatively small area. Most of the great ski resorts of Europe are within three hours travel (train, bus or car) from the major international gateway airports of Geneva, Milan or Munich.<br><br>All Ski Pass prices are available from <time datetime="2019-01-01">January 1st, 2019</time>. 
</article>



<form class="choose" action="URL" method="post" novalidate>
<select name="countries">
    <option selected="selected">What country do you want travel to?</option>
    <option value="Austria">Austria</option>
    <option value="Swiss">Swiss</option>
    <option value="France">France</option>
    <option value="Other">Other</option>
</select>
<p><input type="submit" value="Go"></p>
</form>
<section>
    {{ table }}
</section>
{% endblock %}