{% extends "base.html" %}


{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles_details.css') }}">
{% endblock %}
{% block content %}

<style>

    .holder {
        display: block;
        margin-left: auto;
        margin-right: auto;
        /* font-size: 20px; */
        width: 60%;
        flex-flow: column wrap;
        /* align-items: center; */
        background-color: rgba(245, 245, 245, 0.68);
        border-radius: 2%;
        padding: 10px 50px;
    }
    figure{
        text-align: center;
    }

    figcaption{
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
    }
    table{
        height: 1%;
    }
    
    h1{
        font-family: helvetica;
        color: #0f0f46;
    }
    h2{
        font-family: helvetica;
        font-size: 20px;
        color: #0f0f46;
    }

    
</style>

<div class="holder">
    {% if au == True %}
        {% if fav_resort.fav_resort == data[0].id %}
            <p class="fav_resort">Your fav resort!</p>
        {% else %}
            <form action="" method="post">
                {{ form.hidden_tag() }}
                {{ form.submit() }}
            </form>
        {% endif %}
    {% endif %}
    <h1 class="resort_name">Resort "{{ data[0].name }}" in {{ data[0].country }}</h1>
     <table>
            <tr align="left">
                <td style="background:transparent;">
                    <figure>
                        <a style = "background: transparent;"><img style="width: 120px; height: 120px;" src="{{ url_for('static', filename='images/g1.png') }}">
                            <figcaption class "num">{{ lifts[0].gondola }}</figcaption></a>
                    </figure>
                </td>
                <td style="background:transparent;">
                    <figure>
                        <a style = "background: transparent;"><img style="width: 120px; height: 120px;" src="{{ url_for('static', filename='images/c1.png') }}">
                            <figcaption class "num">{{ lifts[0].chairlift }}</figcaption></a>
                    </figure>
                </td>
                <td style="background:transparent;">
                    <figure>
                        <a style = "background: transparent;"><img style="width: 120px; height: 120px;" src="{{ url_for('static', filename='images/p1.png') }}">
                            <figcaption class "num">{{ lifts[0].platter }}</figcaption></a>
                    </figure>
                </td>
            </tr>
        </table>

        <div class="pistes">
            <img style="width: 31px; height: 31px;" align="left" src="{{ url_for('static', filename='images/blue.png') }}">
                <p>{{ piste[0].easy }} km</p>
            <img style="width: 30px; height: 30px;" align="left" src="{{ url_for('static', filename='images/red.png') }}">
                <p>{{ piste[0].intermediate }} km</p>
            <img style="width: 31px; height: 31px;" align="left" src="{{ url_for('static', filename='images/bl.png') }}">
                <p>{{ piste[0].difficult }} km</p>
        </div>

        <div class="cost">
            <h2 style="font-size: 23 px;"><br>Ski-Pass Cost</h2>
            <h2>Currency: {{ curr[0].currency }}</h2>
            <h3>Adult: {{ curr[0].adult }}</h3>
            <h3>Youth: {{ curr[0].youth }}</h3>
            <h3>Child: {{ curr[0].child }}</h3>

        </div>
</div>

{% endblock %}
